# Terraform providers, plugins, cache
.terraform/
**/.terraform/

# Terraform lock file (optional – ignore for simplicity)
.terraform.lock.hcl

# Terraform state files (sensitive)
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform variable files (sensitive)
*.tfvars
*.tfvars.json

# VS Code personal settings
.vscode/
